nbastables.com {
    handle /t/a.js {
        rewrite * /script.js
        reverse_proxy localhost:3000
    }
    handle /api/send {
        reverse_proxy localhost:3000
    }
    handle /t/api/send {
        rewrite * /api/send
        reverse_proxy localhost:3000
    }
    handle /soccer {
        header {
            Content-Security-Policy "default-src 'self' 'unsafe-inline' https://site.api.espn.com https://sports.core.api.espn.com https://fonts.googleapis.com https://fonts.gstatic.com https://cdn.jsdelivr.net; connect-src https://site.api.espn.com https://sports.core.api.espn.com https://*.Espn.com https://*.service.brightcove.com ws://localhost:* http://localhost:*; font-src https://fonts.gstatic.com https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: https:;"
        }
        reverse_proxy localhost:8000
    }
    reverse_proxy localhost:8000
}

www.nbastables.com {
    redir https://nbastables.com{uri}
}

#testing small app temporarily
sraz.nbastables.com {
  reverse_proxy localhost:3000
}