services:
  nba-stables:
    profiles: ["prod"]
    build: .
    ports:
      - "8000:8000"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TZ=Europe/Berlin
      - STATS_PROXY=socks5h://host.docker.internal:40000
    volumes:
      - /opt/nba_stables:/app
  nba-stables-dev:
    profiles: ["dev"]
    build: .
    ports:
      - "8000:8000"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TZ=Europe/Berlin
      - STATS_PROXY=socks5h://host.docker.internal:40000
    volumes:
      - ./:/app
#  umami:
#    profiles: [ "prod" ]
#    image: ghcr.io/umami-software/umami:postgresql-latest
#    environment:
#      DATABASE_URL: postgresql://umami:umami@umami-db:5432/umami
#      APP_SECRET: f33e192facd89a902cd5cdec46d742320c6510a1231d508d
#    depends_on:
#      umami-db:
#        condition: service_healthy
#    ports:
#      - "127.0.0.1:3000:3000"
#    restart: unless-stopped
#
#  umami-db:
#    profiles: [ "prod" ]
#    image: postgres:16-alpine
#    environment:
#      POSTGRES_DB: umami
#      POSTGRES_USER: umami
#      POSTGRES_PASSWORD: umami
#    volumes:
#      - umami_pgdata:/var/lib/postgresql/data
#    healthcheck:
#      test: [ "CMD-SHELL", "pg_isready -U umami" ]
#      interval: 5s
#      timeout: 5s
#      retries: 5
#    restart: unless-stopped
#
#volumes:
#  umami_pgdata: