name: Deploy to Hetzner

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/nba_stables
            git pull origin main
            docker-compose down --remove-orphans --volumes
            docker rm -f nba_stables_nba-stables_1 2>/dev/null || true
            docker system prune -af
            echo "######### Deleting .pyc files from the project #########"
            find . -type f -name '*.pyc' -delete
            echo "######### Building latest app image #########"
            docker-compose up -d --build --force-recreate
