name: Deploy to Hetzner

on:
  push:
    paths-ignore:
      - "api/static/*.json"
      - "api/statis/trades.log"
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/nba_stables
            git pull origin main
            docker-compose down --remove-orphans
            yes | docker system prune -a
            find . -type f -name "*.py[co]" -delete -or -type d -name "__pycache__" -delete
            docker-compose --profile prod up -d --build
            cp /opt/nba_stables/Caddyfile /etc/caddy/Caddyfile
            systemctl restart caddy
